{% extends "base.html" %}
{% block content %}
{{ form.media }}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p style="margin-bottom: 10px;"></p>
		<form role="form" action="" method="post">{% csrf_token %}
			<div class="form-group">
				<input type="text" class="form-control" id="form_dn" name="query" placeholder="Domain Name or IP ..." />
			</div>
			<div class="panel" id="accordion" style="margin-top: 20px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#options">
							<i class="icon icon-cog"></i> Advanced Options
						</a>
					</div>
					<div id="options" class="panel-collapse collapse" style="text-align: left;">
						<div class="panel-body">
							<div class="form-group">
								{% for field in form.visible_fields %}
								<div id="div_{{ field.html_name }}" 
									class="form-group{% if field.errors %} has-error{% endif %}">
									{{ field.label_tag }}
									{{ field }}
									<div class="text-muted pull-right">
										<small>{{ field.help_text }}</small>
									</div>
									<div class="help-block">
										{{ field.errors }}
									</div>
								</div>
								{% endfor %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-top: 20px;" class="center">
				<button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
