{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-6">
		<div class="jumbotron" style="text-align: center;">
			<h1>{{ report.total_dn }}</h1>
			Total Doamins
		</div>
	</div>
	<div class="col-xs-6">
		<div class="jumbotron" style="text-align: center;">
			<h1>{{ report.total_alive_dn }}</h1>
			Total Alive Domains
		</div>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Recent Added Domains</h3>
	</div>
	<table class="table table-striped" style="table-layout: fixed;">
		<thead>
			<tr>
				<th>Domain</th>
				<th>Added Date</th>
				<th>Source</th>
				<th>Note</th>
			</tr>
        </thead>
        <tbody>
        {% for dn_list in report.last_dn %}
            <tr>
				<td>{{ dn_list.dn }}</td>
				<td>{{ dn_list.date|date:'Y/m/d' }}</td>
                <td>{{ dn_list.source }}</td>
                <td>{{ dn_list.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top 10 Mapping IP</h3>
			</div>
			<table class="table table-striped" style="table-layout: fixed;">
				<thead>
					<tr>
						<th>IP</th>
						<th>Count</th>
					</tr>
				</thead>
			    <tbody>
				{% for mapping_list in report.top_mapping_ip %}
					<tr>
						<td>{{ mapping_list.answer }}</td>
						<td>{{ mapping_list.count }}</td>
		            </tr>
			    {% endfor %}
				</tbody>
		    </table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top 10 Country Locations of Domains</h3>
			</div>
			<table class="table table-striped" style="table-layout: fixed;">
				<thead>
					<tr>
						<th>Country</th>
						<th>Code</th>
						<th>Amount</th>
					</tr>
			    </thead>
				<tbody>
				{% for country_list in report.top10_country_amount %}
					<tr>
						<td>{{ country_list.country }}</td>
						<td>{{ country_list.code }}</td>
						<td>{{ country_list.amount }}</td>
				    </tr>
		        {% endfor %}
			    </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
